#home {
	text-align: center;
}

#home-plod {
    transform: translateY(-50%);
}

.twitter {
  text-align: center;
}

.homeBlog {
    text-align: left;
}


/* Map */
#home .map-wrapper {
    position: relative;
}
#home .map-wrapper #sidebar {
     display: none;
 }
 .stats-home {
 	margin-top: 7em;
 	text-align: justify;
 }
.start-logo {
	width: 100%;
}
.header-attribution {
	position: absolute;
	bottom: 0;
	right: 50px;
	font-size: 8px;
}

#home .content{
	max-width: 1000px;
	/* margin-top: 20px; */
}

#home .card{
	/* border: 1px solid #999; */
	margin-top: 20px;
}

#home table{
	border-Top: 0;
	border-bottom: 2px ridge #888;
}
